
#email, #fullName, #resignationDate, #employmentDate {
    width: 80%;
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
}

/* #F2F6F8 white 
#6A96E9 gray
#B7AEAF dark blue
#CFD1D4 light blue */


#registrerTitle,#titleSlett{
    color: black;
    font-weight: 700;
}

.formContainer form{
    width: 30%;
    border-radius: 5px;
    padding: 20px;
    background-color: #F2F6F8;
    box-shadow: 10px 10px 10px 10px rgb(190, 183, 183);
}
.formContainer .form2{
    width: 100%;
    height: 50vh;
    overflow-y:auto;
    background-color: #CFD1D4; 
    color: black;
    border-radius: 10px;
}
.formContainer {

    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
    
}
.formButtons{
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: solid black;
    
}
#btnB:hover {
    background-color: rgb(44, 80, 237);
    cursor: pointer;
    color: white;

}
#btnE:hover {
    color: rgb(44, 80, 237);
    cursor: pointer;
}
#btnR:hover {
    color: rgb(237, 44, 44);
    cursor: pointer;
}

.btnContainer{
    background-color: #CFD1D4;
}

#btnB{
    border-radius: 5px;
    color: black;
    padding: 10px;
    margin: 10px;
    width: 100%;
}
#btnE{
    border-radius: 5px;
    color: black;
    padding: 10px;
    margin: 10px;
    border-left: white solid 1px;
}
.btnDelete{
    background-color: rgb(74, 72, 72);
}
#btnR{
    color: black;
    padding: 10px;
    margin: 10px;
    border-left: white solid 1px;
}
h1{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}
table{
    width:100%;
    table-layout: fixed;
}
.tableContent{
    color: white;
}
.stickyHead thead{
    background-color: #d1cece;
    position: sticky;
    top: 10px;
    color: white;
}
.stickyHead{
    background-color: #CFD1D4;
    border-radius: 10px;
    padding: 20px;
    width: 97%;
    margin-left: 20px;
    color: white;
}

.displayProspects{
    color: black;
    border-top: black solid 1px;
}

tbody{
    height:10%;
    margin-top: 0px;
    border: 1px solid red;
}

th{
    padding:10px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    border-bottom: white solid 1px;
}
td{
    padding: 10px;
    text-align: left;
    vertical-align:middle;
    font-weight: 400;
    font-size: 12px;
    color: black;
    border-bottom: solid 1px white;
    border-left: white solid 1px;
}
.header {
    display: flex;
    background: url('../../components/images/addconsultant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 30%;
}
.modalBox{
    width: 100%;
}
tr{
    cursor: pointer;
}

.AccordionContent{
    background-color: #B7AEAF;
    color: black;
    padding: 10px;
    border-radius: 3px;
}
.projectContainer{
    border-top: solid black 1px;
}

