
#email, #fullName, #resignationDate, #employmentDate {
    width: 80%;
    background-color: lightblue;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
}

#btnB:hover {
    background-color: rgb(44, 80, 237);
    color: white;
    cursor: pointer;
}
#btnR:hover {
    background-color: rgb(237, 44, 44);
    color: white;
    cursor: pointer;
}

.formContainer form{
    border: solid black;
    width: 30%;
    background-color: white;
    border-radius: 3%;
    padding: 20px;
}
.formContainer .form2{
    width: 70%;
    border-radius: 3%;
    padding: 20px;
    height: 50vh;
    overflow-y:auto;
    border: solid black;
}
.formContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
    border-bottom: solid black 1px;
    
}
.formButtons{
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: solid black;
    
}
h1{
    margin-right: 140px;
}
#btnB{
    background-color: lightblue;
    border-radius: 5px;
    color: black;
    padding: 10px;
    margin: 10px;
    width: 100%;
}
#btnR{
    background-color: lightblue;
    border-radius: 5px;
    color: black;
    padding: 10px;
    margin: 10px;
    margin-right: 50px;
}
#titleSlett{
    margin-left: 140px;
}
.tableContent{
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tableContent thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.tableContent th,
.tableContent td {
    padding: 12px 15px;
}
.tableContent tbody tr {
    border-bottom: 1px solid rgb(60, 60, 221);
}

.tableContent tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tableContent tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
/* 
.box1{
    flex: 1;
    border:  1px solid #e7eaf3 0px 0px 5px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    background: #fefeff;
}
.box2{
    flex: 1;
    border:  1px solid #e7eaf3 0px 0px 5px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    background: #fefeff;
} */

